.about {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.about .header {
    font-size: 56px;
    color: white;
    margin-bottom: 50px;
}

.about .header strong {
    color: var(--primary-hover);
}

.about .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about .content .left {
    display: flex;
    color:white;
    height: 250px;
    width: 250px;
    border-radius: 200px;
    border: 5px solid white;
}
.about .content .left img {

}

.about .content .left .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about .content .left .social button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.about .content .right {
    width: 700px;
    padding-left: 50px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .content .right strong{
    color: var(--primary-hover)
}