.about {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.about .header {
    font-size: 56px;
    color: white;
    margin-bottom: 50px;
}

.about .header strong {
    color: var(--primary-hover);
}

.about .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about .content .left {
    display: flex;
    color:white;
    height: 250px;
    width: 250px;
    border-radius: 250px;
    border: 5px solid white;
}

.about .content .left img {
    border-radius: 200px;
}

.about .content .left .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about .content .left .social button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.about .content .right {
    width: 45%;
    padding-left: 50px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .content .right strong{
    color: var(--primary-hover)
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1100px) {
    .about .content .left {
        height: 200px;
        width: 200px;
        border-radius: 200px;
    }
    .about .content .right {
        width: 40%;
        font-size: 16px;
    }
}

@media only screen and (max-width: 900px) {
    .about .content .right {
        font-size: 14px;
    }
}

@media only screen and (max-width: 800px) {
    .about .header {
        font-size: 48px;
        margin-bottom: 35px;
    }
    .about .content .left {
        height: 175px;
        width: 175px;
        border-radius: 175px;
    }
    .about .content .right {
        font-size: 12px;
    }
}

@media only screen and (max-width: 615px) {
    .about .content .right {
        width: 245px;
    }
}

@media only screen and (max-width: 600px) {
    .about {
        height: 600px;
    }
    .about .header {
        font-size: 40px;
        margin-bottom: 25px;
    }
    .about .content {
        flex-direction: column;
        align-items: center;
    }
    .about .content .left {
        margin-bottom: 20px;
    }
    .about .content .right {
        padding: 0px;
        width: 240px;
    }
}