.introduction {
    height: calc(100vh);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/MiamiSkyline.png");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.introduction .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction .intro {
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: pop-in 0.5s;
}

.introduction .intro .message {
    margin: 40px;
    color: var(--primary);
    font-size: 24px;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}

.introduction .intro .message .header {
    font-size: 64px;
    color: var(--primary-hover);
}

/*
.introduction .technologies .icons{

}

.introduction .technologies .names{

}
*/

.introduction a {
    width: 400px;
    padding: 20px;
    font-size: 16px;
    border-radius: 20px;
    background-color: var(--primary-hover);
    color: var(--background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: var(--background-color);
    border-style: solid;
    transition: 0.2s;
    text-decoration: none;
} 

.introduction a:hover {
    border: solid white;
}

.introduction a:active {
    background-color: var(--background-color);
    color: var(--dark);
    border: solid white;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 900px) {
    .introduction .intro .message {
        font-size: 20px;
    }
    .introduction .intro .message .header {
        font-size: 54px;
    }
    .introduction a {
        width: 300px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    .introduction .intro .message {
        font-size: 14px;
    }
    .introduction .intro .message .header {
        font-size: 38px;
    }
    .introduction a {
        width: 200px;
        font-size: 12px;
    }
}