.projectPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.projectPage .header {
    font-size: 56px;
    color: white;
    margin-bottom: 20px;
}

.projectPage .header strong {
    color: var(--primary-hover)
}

.projectPage .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectPage .content .screenshot img {
    height: 250px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid white;
}

.projectPage .content .description {
    width: 50%;
    font-size: 18px;
}

.projectPage .content .description strong {
    color: var(--primary-hover);
}

.projectPage .content .description #header strong u {
    color: var(--primary-hover);
    display: inline-block;
    width: 100%;
    text-align: center;
}

.projectPage .content .technologies {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectPage .content .tech-icons {
    margin: 0px 20px 2px 20px;
    display: flex;
    flex-direction: row;
}

.projectPage .content .tech-icons img {
    height: 50px;
    width: 50px;
}

.projectPage .content .tech-names {
    display: flex;
    flex-direction: row;
}

.projectPage .content .tech-names .names {
    font-size: 12px;
    width: 90px;
    display: flex;
    justify-content: center;
}

.projectPage .content a {
    color: white;
    text-decoration: none;
}

.projectPage .content .additionalLinks  {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.projectPage .content .additionalLinks  button {
    width: 360px;
    padding: 20px;
    font-size: 1em;
    border-radius: 20px;
    background-color: var(--primary-hover);
    color: var(--background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: var(--background-color);
    border-style: solid;
    transition: 0.2s;
    text-decoration: none;
    margin-bottom: 10px;
} 
  
.projectPage .content .additionalLinks button:hover {
    border: white;
    border-style: solid;
}
  
.projectPage .content .additionalLinks button:active {
    background-color: var(--background-color);
    color: var(--dark);
    border: white;
    border-style: solid;
}

.projectPage .content .additionalLinks button img {
    height: 24px;
    width: 24px;
    margin-left: 8px;
    transition: 0.2s;
}

.projectPage .content .additionalLinks button:active img {
    filter: invert(99%) sepia(93%) saturate(7%) hue-rotate(230deg) brightness(105%) contrast(100%);
    height: 24px;
    width: 24px;
    fill: white;
}